<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('widgets/user-info',{ title, isMe}) %>
  <%- include('widgets/blog-list', {blogList}) %>

</body>

</html>